<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Excel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Excel.presentation.ExcelModelWizardID"
            name="%_UI_ExcelModelWizard_label"
            class="Excel.presentation.ExcelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExcelModelFile.gif">
         <description>%_UI_ExcelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Excel -->
      <editor
            id="Excel.presentation.ExcelEditorID"
            name="%_UI_ExcelEditor_label"
            icon="icons/full/obj16/ExcelModelFile.gif"
            extensions="excel"
            class="Excel.presentation.ExcelEditor"
            contributorClass="Excel.presentation.ExcelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Script -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Script.presentation.ScriptModelWizardID"
            name="%_UI_ScriptModelWizard_label"
            class="Script.presentation.ScriptModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ScriptModelFile.gif">
         <description>%_UI_ScriptModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Script -->
      <editor
            id="Script.presentation.ScriptEditorID"
            name="%_UI_ScriptEditor_label"
            icon="icons/full/obj16/ScriptModelFile.gif"
            extensions="script"
            class="Script.presentation.ScriptEditor"
            contributorClass="Script.presentation.ScriptActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Algorithme -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Algorithme.presentation.AlgorithmeModelWizardID"
            name="%_UI_AlgorithmeModelWizard_label"
            class="Algorithme.presentation.AlgorithmeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AlgorithmeModelFile.gif">
         <description>%_UI_AlgorithmeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Algorithme -->
      <editor
            id="Algorithme.presentation.AlgorithmeEditorID"
            name="%_UI_AlgorithmeEditor_label"
            icon="icons/full/obj16/AlgorithmeModelFile.gif"
            extensions="algorithme"
            class="Algorithme.presentation.AlgorithmeEditor"
            contributorClass="Algorithme.presentation.AlgorithmeActionBarContributor">
      </editor>
   </extension>
</plugin>
