<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Excel -->
      <package
            uri="https://Excel.ecore"
            class="Excel.ExcelPackage"
            genModel="models/Excel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Algorithme -->
      <package
            uri="https://Algorithme.ecore"
            class="Algorithme.AlgorithmePackage"
            genModel="models/Algorithme.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Script -->
      <package
            uri="https://Script.ecore"
            class="Script.ScriptPackage"
            genModel="models/Script.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated My -->
      <package
            uri="https://Bonjour.ecore"
            class="Bonjour.BonjourPackage"
            genModel="models/My.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Excelbis -->
      <package
            uri="https://Excelbis.ecore"
            class="Excelbis.ExcelbisPackage"
            genModel="models/Excelbis.genmodel"/>
   </extension>

</plugin>
